.container {
  text-align: center;
  padding: 2rem;
}

.container {
  padding: 2rem;
}


.container {
  padding: 2rem;
}

.container {
  padding: 2rem;
}

.blogList {
  list-style: none;
}

.blogListItem {
  margin-bottom: 0.5rem;
}
.container {
  padding: 2rem;
}



